body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('../imagenes/corazon.png');
    background-repeat: repeat;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e31b6d;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

a {
    color: #e31b6d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    margin: 20px 0;
    padding: 10px;
    background-color: #f9d9e2;
    border-left: 5px solid #e31b6d;
}

blockquote p {
    margin: 0;
}
